@import "tailwindcss";

button{
  cursor: pointer;
}

html, body {
  background-color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea, [contenteditable="true"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.font-cursive {
  font-family: 'Atkinson Hyperlegible Mono', monospace !important;
}

@layer utilities {
  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c026d3; /* fuchsia-600 */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a21caf; /* fuchsia-700 */
  }
}

/* Global Scrollbar (Optional but recommended for consistency) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; 
}

input, textarea {
  font-family: 'Atkinson Hyperlegible Mono', monospace !important;
}

input:focus, textarea:focus {
  outline: none;
}